// Couleurs 
$color-0: #FFFFFF;
// $color-1: #FD2D01;
$color-1: #00A29C;
// $color-2: #FFD7D7;
$color-2: #39AADE;
$color-3: #4E5166;
$color-4: #FDC101;

// Dimensions Mobile et Tablette
$breakpoints : (
    mobile: 720px,
    tablette: 1024px
);

